/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}

/* reset end */

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }  

body {
  background-color: #80bcbd;
  color: white;
  margin: 0;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.top-container {
  background-color: #aad9bb;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 1000px; */
}

.hero-text h1,
p {
  text-align: center;
}

.hero-text h1 {
  margin-bottom: 5%;
}

.hero-text p {
  margin-bottom: 7%;
}

.portrait-img {
  width: 30%;
  border-radius: 50%;
  padding: 20px 20px;
  /* margin-top: 10%;
    margin-bottom: 10%; */
}

.middle-container {
  /* background-color: #F9F7C9; */
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.middle-container-text{
    color: darkslategray;
    align-self: center;
    text-align: center;
    size: 0.8rem;
}

.middle-container-text h3{
    margin-bottom: 10%;
}

.middle-container-text p{
    font-size: 0.7em;
}

.middle-container img {
    margin-top: 5%;
    width: 50%;
}

.whatido-header{
    background-color: #aad9bb;
    font-family: "Pacifico", cursive;
    padding: 5%;
    font-size: 2em;
    text-align: center;
}

.whatido{
    background-color: #aad9bb;
}

.whatido h2{
    width: 100%;
    text-align: center;
    padding: 7%;
}

.ido-container{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.ido-container img{
    border-radius: 50%;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.ido-container-text{
    text-align: center;
    width: 70%;
    font-size: 0.7em;
}

.ido-container-text h3 {
    
    margin-bottom: 5%;
}

.bottom-space{
    padding-bottom: 5%;
}

.contact h2,p{
    text-align: center;
}

.contact p {
    font-size: 0.7em;
    margin-top: 4%;
}